<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login Form</title>
</head>
<body style="background-image: url('../assets/loginback.jpg');">
<div class="login-container">
    <!-- <img src="../assets/logincrm.png" alt="Logo"> -->
     <h1><b>Sign Up</b></h1>
    <form [formGroup]="supportForm" class="form" (ngSubmit)="onSubmit()">
        <input type="number" formControlName="contactno" name="contactno" placeholder="Mobile Number" required>
        <input type="email" formControlName="email" name="email" placeholder="Email" required>
        
        <div class="password-wrapper">
          <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" name="password" placeholder="Password" required>
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </span>
        </div>
        
        <div class="password-wrapper">
          <input type="{{ showPassword1 ? 'text' : 'password' }}" formControlName="crmpassword" name="crmpassword" placeholder="Confirm Password" required>
          <span class="toggle-password" (click)="togglePasswordVisibility1()">
            <mat-icon>{{ showPassword1 ? 'visibility' : 'visibility_off' }}</mat-icon>
          </span>
        </div>
        
        <button type="submit" [disabled]="supportForm.invalid">Submit</button>
        <p>Already have an account <a href="/">Sign In Here</a></p>
      </form>
        
</div>
</body>
</html>
