<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span (click)="onClose()" class="close">&times;</span>
    <h2>Change Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label>Current Password</label>
        <input type="password" [(ngModel)]="currentPassword" name="currentPassword" disabled />
      </div>
      <div>
        <label>New Password</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" required />
      </div>
        <button type="submit">Submit</button>
    </form>
  </div>
</div>
  