<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body style="background-image: url('../assets/loginback.jpg');">
  
    <div class="login-container1">
        <!-- <div class="table-container"> -->
        <h3><b>History</b></h3>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Stage</th>
                    <th>Reminder Status</th> 
                    <th>Next Follow-up Date</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item1 of followData">
                    <td>{{ item1.stage }}</td>
                    <td>{{ item1.reminder_status }}</td> 
                    <td>{{ item1.nextfollow_up_by | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ item1.remark }}</td>
                </tr>
            </tbody>
         </table>
    </div> 
    <div class="login-container">
        <h5 style="display: flex; align-items: center; justify-content: space-between; text-align: left;">
            <div style="display: flex; align-items: center;">
              <i class="material-icons">timer</i>
              <b style="margin-left: 5px; font-size: 20px; text-transform: capitalize;">Add New Update - {{ personname }}</b>
            </div>
           <i class="material-icons" (click)="closeContainer()" style=" cursor: pointer;">cancel</i>
        </h5><hr>
   
        <form [formGroup]="updateForm"  class="form" (ngSubmit)="onSubmit()">
             <input type="text" formControlName="lead_id" name="lead_id" hidden>
             <input type="text" formControlName="personname" name="personname" hidden>
             <input type="text" formControlName="email" name="email" hidden>
            <div class="main">
              <label for="follow_up_time" style="text-align: left;">Follow-up Time*</label>
              <input type="time" formControlName="follow_up_time" name="follow_up_time" required>
            </div>
            <div class="main">
               <label for="nextfollow_up_by"> Next Follow-up Date*</label>
               <input type="date" formControlName="nextfollow_up_by" name="nextfollow_up_by" required>
            </div>
            <div class="main">
                <label for="stage">Stage*</label>
                <select formControlName="stage" name="stage">
                 <option>Select Stage</option>
                 <option *ngIf="!stageData || stageData.length === 0" value="" disabled selected>Fill Master table initially</option>
                 <option *ngFor="let stag of stageData" [value]="stag.stage_name">{{ stag.stage_name }}</option>
                </select>
            </div>
            <div class="main">
                <label for="reminder_status">Reminder Status*</label>
                <select type="text" formControlName="reminder_status" name="reminder_status">
                  <option value="Reminder 1">Reminder 1</option>
                  <option value="Reminder 2">Reminder 2</option>
                  <option value="Reminder 3">Reminder 3</option>
                  <option value="Reminder 4">Reminder 4</option>
                  <option value="Reminder 5">Reminder 5</option>
                </select>
            </div>
            <div class="main">
                <label for="remark">Remark*</label>
                <input type="text" formControlName="remark" name="remark">
            </div>
            <button type="submit">Update Status</button>
        </form>   
    </div>
</body>
</html>
