<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword Form</title>
</head>
<body style="background-image: url('../assets/loginback.jpg');">
<div class="login-container">
    <img src="../assets/logincrm.png" alt="Logo">
    <h2>Welcome!</h2>
    <p></p>
    <form [formGroup]="forgotpasswordForm" class="form" (ngSubmit)="sendEmail()">
        <input type="email" id="email" formControlName="email" placeholder=" Enter Your Email">
        <button type="submit">Check your email</button>
    </form>
</div>
</body>
</html>

